@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  display: block;
}

h3 {
  width: fit-content;
  margin: 0 auto;
  border-bottom: 4px solid #d23434;
  font-size: 42px;
  font-weight: bold;
}

/* ヘッター */
header {
  display: grid;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    place-self: center;
    color: #fff;
    font-size: 96px;
    font-weight: bold;
  }

  nav {
    place-self: start end;
    margin: 24px 40px;
    z-index: 1;
  }

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 14.4px;
  }
}

.main>* {
  grid-area: 1 / 1;
}



/* メニュー */
.menu-section {
  .menu-hero {
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("img/menu1.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
  }

  h2 {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
  }

  img {
    display: none;
  }
}

main {
  display: flex;
  gap: 45px;
  max-width: 878px;
  margin: 0 auto;
  padding: 89px 16px 0;

  section {
    flex: 1;
  }

  ul {
    list-style: none;
    padding-top: 68px;
  }

  li {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin-top: 30px;
    font-size: 14px;
  }

  li span:first-child {
    flex: 1;
    border-bottom: 1px dotted #000000;
    padding-bottom: 2px;
  }

  .menu-column-left {
    padding-right: 25px;
    border-right: 1px solid #000000;
  }

  .menu-group+.menu-group {
    margin-top: 56px;
  }
}

/* ABOUT */
.about-section {
  .about-hero {
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("img/about.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 208px;
  }

  h2 {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
  }

  img {
    display: none;
  }
}

.about-content {
  max-width: 928px;
  margin: 0 auto;
  padding: 90px 16px 0;
  text-align: center;



  div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    margin-top: 90px;
    text-align: left;
    font-size: 14px;
    line-height: 1.9;
  }

  a {
    display: block;
    margin: 69px auto 0;
    height: 50px;
    width: 160px;
    line-height: 3.5;
    border: 1px solid #d23434;
    color: #000;
    text-decoration: none;
    font-size: 14.4px;
    text-align: center;
  }
}

/* LOCATION */
.location-section {
  .location-hero {
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("img/location.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 170px;
  }

  h2 {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
  }

  img {
    display: none;
  }
}

.location-content {
  max-width: 968px;
  margin: 0 auto;
  padding: 90px 16px 0;
  text-align: center;

  .location-map {
    width: 100%;
    height: 400px;
    margin-top: 70px;
  }

  .location-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }

  .location-info {
    text-align: left;
    font-size: 14px;
    line-height: 1.9;
    margin-top: 20px;
  }
}

footer {
  text-align: center;
  font-size: 10px;
  padding: 178px 0 8px;
}


/* span */
@media (max-width: 768px) {
  .menu-section {
    .menu-hero {
      background-image: none;
      background-attachment: scroll;
      height: 94px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      font-size: 32px;
    }
  }

  .menu-content {
    flex-direction: column;
    padding: 30px 16px 0;

    h3 {
      font-size: 20px;
      border-bottom: 6px solid #d23434;
    }

    ul {
      padding-top: 28px;
    }

    li {
      margin-top: 32px;
    }
  }

  main .menu-column-left {
    padding-right: 0;
    border-right: none;
  }

  /* about */
  .about-section {
    .about-hero {
      background-image: none;
      background-attachment: scroll;
      height: 94px;
      margin-top: 115px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      font-size: 32px;
    }
  }

  .about-content {
    padding-top: 40px;

    h3 {
      font-size: 20px;
      border-bottom: 6px solid #d23434;
    }

    div {
      margin-top: 40px;
      grid-template-columns: 1fr;
      gap: 37px;
    }
  }

  /* location */
  .location-section {
    .location-hero {
      background-image: none;
      background-attachment: scroll;
      height: 94px;
      margin-top: 115px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      font-size: 32px;
    }
  }

  .location-content {
    padding-top: 40px;

    h3 {
      font-size: 20px;
      border-bottom: 6px solid #d23434;
    }

    .location-map {
      margin-top: 22px;
    }
  }

  footer {
    padding: 60px 0 0;
  }
}